@model SchoolBoard.Models.StudentModels.StudentDetail

<h1>SchoolBoard for @Model.Name</h1>


<h4>Student GPA: @Model.GPA</h4>

<div class="container body-content">
    <div class="row sectionHeader">

    </div>
</div>

<table class="table table-responsive" id="postsTable">
    <tbody>
        @if (Model.Posts.Any())
        {
            foreach (var post in Model.Posts)
            {
        <tr>
            <td>
                <div class="postAuthor" style="text-decoration:underline; font-weight:700;">
                    @post.MyName
                </div>
            </td>
            <td>
                <div class="postTitle">
                    @post.Title
                </div>
            </td>
            <td>
                <div class="postBody">
                    @post.Body
                </div>
            </td>
            <td>
                <div class="postCreated">
                    @post.Created
                </div>
            </td>

            <td>
                <a style="color: ghostwhite" href="~/Post/Edit/@post.Id">
                    Edit
                </a>
            </td>
            <td>
                <a style="color: ghostwhite" href="~/Post/Delete/@post.Id">
                    Delete
                </a>
            </td>

        </tr>
            }
        }
    </tbody>
</table>
<div>@Html.ActionLink("New Post", "Create", "Post")</div>