@model SchoolBoard.Models.StudentModels.StudentDetail

<h1>SchoolBoard for @Model.Name</h1>

<table class="table-bordered" id="postsTable">
    <tbody>
        @if (Model.Posts.Any())
        {
            foreach (var post in Model.Posts)
            {
               <tr>
                    <td>
                        @post.Title
                    </td>
                    <td>
                        @post.Body
                    </td>
                    <td>
                        @post.Created
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div>@Html.ActionLink("New Post", "Create", "Post")</div>