@model SchoolBoard.Models.PostModels.PostListItem

<h1>@Model.Title</h1>
<div>
    Instructor: @Model.Instructor
    Created: @Model.Created
</div>

<div>
    @Model.Body
</div>

@if (Model.Replies.Any())
{
    foreach (var reply in Model.Replies)
    {
        <div>
            <div>
                Reply Author: @reply.Instructor
                Reply Created: @reply.Created
            </div>
            <div>
                Reply: @reply.Body
            </div>
        </div>
    }
}
